.formStyles {
    background-color: #acacac;
    width: 400px;
    padding: 2rem;
    border: 2px solid #ffffff;
    border-radius: 1rem;
    box-shadow: 10px 10px 15px 5px rgba(0,0,0,0.5)


    h1{
        color: #000;
    }

    input{
        padding: 0.5rem;
        margin: 1rem 0;
    }
}
